/* Prevent adjustments of font size after orientation changes. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* Apply a natural box layout model to all elements */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: $primaryColor;
}

// Header
#headerWrapper {
  background-color: $primaryColor;
  color: $fontColor;
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

// Navigation
#navWrapper {
  background-color: $thirdColor;
}
nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      flex: 1;
    }
  }
  li.active {
    background-color: $primaryColor;
    //border-bottom: 1px solid $fontColor;
    border-left: 1px solid $fontColor;
    border-right: 1px solid $fontColor;
    a {
        color: $secondaryColor;
    }
  }
  a {
    display: block;
    padding: 0.75rem;
    color: $fontColor;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $secondaryColor;
    }
  }
}

// Main
#mainWrapper {

    h1 {
        color: $fontColor;
    }
}
main {
    padding: 1rem $gutter;
}

// Footer
#footerWrapper {
    background-color: $thirdColor;
    border-top: 1px solid $fontColor;
}
footer {
    padding: 0.5rem $gutter;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
        color: $fontColor;
    }
}