/* Prevent adjustments of font size after orientation changes. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* Apply a natural box layout model to all elements */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: $primaryColor;
}

// Header
#headerWrapper {
  background-color: $primaryColor;
  color: $fontColor;
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

// Navigation
#navWrapper {
  background-color: $thirdColor;
}
nav {
  max-width: 75rem;
  ul {
    list-style-type: none;
    padding: 0 $gutter;
    margin: 0;
    display: block;
  }
  li.active {
    background-color: $primaryColor;
    border-radius: 5px;
    a {
        color: $secondaryColor;
        font-weight: $boldWeight;
    }
  }
  a {
    display: block;
    padding: 0.75rem;
    color: $fontColor;
    text-decoration: none;
    &:hover {
      color: $secondaryColor;
    }
  }
}

// Main
main h1 {
  padding: 1rem $gutter;
}
section {
  display: grid;
  grid-template-columns: 1fr;
}

section div {
  padding: 1rem $gutter;
  h2 {
    margin: 0;
    padding: 1rem $gutter;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $secondaryColor;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

// Footer
#footerWrapper {
    background-color: $thirdColor;
}
footer {
    padding: 0.5rem $gutter;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
        color: $fontColor;
    }
}