$primaryColor: white;
$secondaryColor: rgb(230, 126, 126);
$thirdColor: rgb(230, 230, 230);
$fontColor: black;

$defaultFont: "Figtree", sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight:800;

$gutter: 16px;